name: Demo pipeline

on:
    push:
        branches:
            - main
            - dev
    pull_request:
        branches: [main, dev]
    # schedule:
    #    -  cron: "*/1 * * * *"

jobs: 
    
    setup_job:
      runs-on: ubuntu-latest #macros-latest , windowa-latest
      steps:
        - name: checkout repo
          uses: actions/checkout@v4
        - name: create file
          run: |
           touch git-hub-action.txt
           echo from first job > git-hub-action.txt
           ls -la
           echo Hello world
           cat README.md
        - name: upload my artifact
          uses: actions/upload-artifact@v4
          with:
            name: my-file
            path: git-hub-action.txt       
    build_job:
        needs: 
          - setup_job
        runs-on: ubuntu-latest
        steps: 
            - name: display hello 
              run: echo hello 
            - uses: actions/download-artifact@v4 
              with: 
                name: my file
            - name: Display git-hub-action.txt
              run:  cat git-hub-action.txt
    deploy_job:
        needs: build_job
        runs-on: macos-latest
        steps:
            - run: echo hellow mac

